<div id="filesHolder" class="w-full overflow-y-auto max-h-[70vh]">
    <ul>
        {% for jlist in jLists %}
        <li>
            <button class="fNames" data-filename="{{ jlist }}">
                {{ jlist }}
            </button>                        
        </li>
        {% endfor %}
    </ul>
</div>
<div id="deleteBtns" class="overflow-y-auto max-h-[70vh]">

    <ul>
        {% for jlist in jLists %}
        <li>
            <button class="deleteBtn" data-filename="{{ jlist }}">
                <i class="fa-solid fa-trash"></i>
            </button>                        
        </li>
        {% endfor %}
    </ul>

2